:root{
    --background-body: #000000;
    --background-header: #000000;
    --color-base: #000000;
    --color-primary: #ffffff;
    --color-hover: #000000;
    --color-hover-strong: #0000000;
    --color-contrast: #ffffff;
    --color-success: #000000;
    --button-dark: #000000;
    --notification--error: #ff0000;
    --notification--success: #00ff00;
    --notification--special: #ffff00;
}
